
        body {
    
            color:black;
             
        }

            .button-link {
                display: inline-block; /* Permite que o botão se comporte como um bloco */
                padding: 15px 30px; /* Espaçamento interno do botão */
                background-color:rgb(14, 173, 78); /* Cor de fundo do botão (verde) */
                color:black; /* Cor do texto */
                text-decoration: none; /* Remove o sublinhado */
                border-radius: 5px; /* Bordas arredondadas */
                font-size: 18px; /* Tamanho da fonte */
                transition: background-color 0.3s; /* Efeito de transição suave */
            }
            

            h1{
                font-size: 50 px;
                color: black;
            }
     

            


nav {
    display: flex; /* Ativa o flexbox */
    justify-content: flex-end; /* Alinha os itens à direita */
}

a:hover {
    color: rgb(0, 204, 255); /* Cor ao passar o mouse */
    text-decoration: underline; /* Sublinha ao passar o mouse */
}

header {
    background: rgb(58, 94, 87);
    color: black;
    padding: 10px 0;

    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(181, 19, 19);
    text-decoration: none;
}


main {
    padding: 20px;
}

section {
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: rgb(58, 94, 87);
    position: relative;
    bottom: 20px;
    width: 100%;
}

